.apps .app.app-calculator {width: 320px;height: 568px;}
.apps .app.app-camera {width: 1280px;height: 720px;}
.apps .app.app-clock {width: 480px;height: 480px;}
.apps .app.app-jukebox {width: 1024px;height: 768px;}
.apps .app.app-notes {width: 1600px;height: 900px;}