body { background: #1a1a1a; margin: 0; font-family: Arial; }

.main-header {height: 100px;width: calc(100% - 6px);color: white;font-size: 72px;text-align: right;line-height: 100px;}

.main-section { width: 100%; height: calc(100% - 100px); }

.advanced { display: none; }

.basic {width: 100%;height: 100%;display: unset;}
.basic div {width: calc((100% - 15px)/4);height: calc((100% - 15px)/5);display: inline-flex;justify-content: center;align-items: center;font-size: 36px;vertical-align: top;margin: 0 0 3px 3px;border-radius: 5px;font-weight: bolder;}
.basic div:nth-child(4n) {/* margin-right: 0; */}
.basic div:nth-last-child(3) {width: calc((((100% - 15px)/4)*2) + 3px);}
.basic .a {background: #bbb;color: white;}
.basic .b {background: #777;color: white;}
.basic .c { background: #f9800f; color: white; }