rooms {width: calc(100% - 20px);padding: 10px;position: relative;}
rooms room  {width: calc((100% - 50px)/6);margin: 0 10px 10px 0;display: inline-block;vertical-align: top;box-shadow: 0 1px 6px;border-radius: 5px;overflow: hidden;}
rooms room:nth-child(6n) { margin: 0 0 10px 0; }
room icon {width: 100%;padding-top: 56.25%;background-size: cover;background-position: center;}
room icon:not([style]) {background-color: #333;}
room info:empty:after, room info:empty:before { content:''; display: block; background-color: #333; margin: 10px; width: calc(100% - 20px); height: 18px;}
[data-dark="true"] room icon:not([style]), room info:empty:after, room info:empty:before {/* background-color: #484848; */}
[data-dark="true"] room {color: #333;}


@media screen and (max-width: 1440px) {
    rooms room {width: calc((100% - 40px)/5);}
    rooms room:nth-child(6n) { margin: 0 10px 10px 0; }
    rooms room:nth-child(5n) { margin: 0 0 10px 0; }
}
@media screen and (max-width: 1024px) {
    rooms room {width: calc((100% - 30px)/4);}
    rooms room:nth-child(5n) { margin: 0 10px 10px 0; }
    rooms room:nth-child(4n) { margin: 0 0 0px 0; }
}
@media screen and (max-width: 768px) {
    rooms room {width: calc((100% - 20px)/3);}
    rooms room:nth-child(4n) { margin: 0 10px 10px 0; }
    rooms room:nth-child(3n) { margin: 0 0 10px 0; }
}
@media screen and (max-width: 572px) {
    rooms room  {width: calc((100% - 10px)/2);}
    rooms room:nth-child(3n) { margin: 0 10px 10px 0; }
    rooms room:nth-child(2n) { margin: 0 0 10px 0; }
}
@media screen and (max-width: 375px) {
    rooms room  {width: calc((100% - 0px)/1);margin: 0 auto 10px;}
    rooms room:nth-child(2n) {margin: 0 auto 10px;}
}