.section-room {display: flex;flex-direction: row;overflow: hidden;width: 100%;height: 100%;flex-wrap: wrap;background: #000;position: absolute;top: 0;right: 0;}
.section-room > video, video {object-position: center;width: 100%;height: 100%; object-fit: cover; }
.section-room > video.contain { object-fit: contain; }

.section-room[data-cams="1"] video:nth-child(1) ~ video,
.section-room[data-cams="2"] video:nth-child(2) ~ video,
.section-room[data-cams="3"] video:nth-child(3) ~ video,
.section-room[data-cams="4"] video:nth-child(4) ~ video,
.section-room[data-cams="5"] video:nth-child(5) ~ video,
.section-room[data-cams="6"] video:nth-child(6) ~ video,
.section-room[data-cams="7"] video:nth-child(7) ~ video,
.section-room[data-cams="8"] video:nth-child(8) ~ video,
.section-room[data-cams="9"] video:nth-child(9) ~ video  { display: none; }

.section-room > :nth-child(1) {background: red;}
.section-room > :nth-child(2) { background: blue; }
.section-room > :nth-child(3) { background: green; }
.section-room > :nth-child(4) { background: purple; }
.section-room > :nth-child(5) { background: orange; }
.section-room > :nth-child(6) { background: yellow; }
.section-room > :nth-child(7) { background: red; }
.section-room > :nth-child(8) { background: gray; }
.section-room > :nth-child(9) { background: pink; }


@media (orientation: landscape) {
    .section-room[data-cams="1"] video { width: 100%; height: 100%; }
    .section-room[data-cams="2"] video {width: 50%;height: 100%;}
    .section-room[data-cams="3"] video { width: calc(100%/3); height: 100%; }
    .section-room[data-cams="4"] video { width: 50%; height: 50%; }

    .section-room[data-cams="5"] video {width: 50%;height: 50%;}
    .section-room[data-cams="5"] video:nth-child() { width: calc(100%/3); height: 50%; }
    .section-room[data-cams="5"] video:nth-child(3) { width: calc(100%/3); height: 50%; }
    .section-room[data-cams="5"] video:nth-child(4) { width: calc(100%/3); height: 50%; }
    .section-room[data-cams="5"] video:nth-child(5) { width: calc(100%/3); height: 50%; }

    .section-room[data-cams="6"] video { width: calc(100%/3); height: 50%; }

    .section-room[data-cams="7"] video { width: 25%; height: 50%; }
    .section-room[data-cams="7"] video:nth-child(5),
    .section-room[data-cams="7"] video:nth-child(6),
    .section-room[data-cams="7"] video:nth-child(7) { width: calc(100%/3); height: 50%; }
    
    .section-room[data-cams="8"] video { width: 25%; height: 50%; }
    .section-room[data-cams="9"] video { width: calc(100%/3); height: calc(100%/3); }
}
@media (orientation: portrait) {
    .section-room[data-cams="1"] video { width: 100%; height: 100%; }
    .section-room[data-cams="2"] video {width: 100%;height: 50%;}
    .section-room[data-cams="3"] video { width: 100%; height: calc(100%/3); }
    .section-room[data-cams="4"] video { width: 50%; height: 50%; }

    .section-room[data-cams="5"] video { width: 50%; height: 35%; }
    .section-room[data-cams="5"] video:nth-child(3) { width: 100%; height: 30%; }

    .section-room[data-cams="6"] video { width: 50%; height: calc(100%/3); }

    .section-room[data-cams="7"] video { width: 50%; height: 30%; }
    .section-room[data-cams="7"] video:nth-child(3),
    .section-room[data-cams="7"] video:nth-child(4),
    .section-room[data-cams="7"] video:nth-child(5) { width: calc(100%/3); height: 40%; }

    .section-room[data-cams="8"] video { width: 50%; height: 25%; }
    .section-room[data-cams="9"] video { width: calc(100%/3); height: calc(100%/3); }
}
