.body {font-family: Arial;overscroll-behavior-y: contain;-webkit-overscroll-behavior-y: contain;margin: 0;color: #777;background: #262626;color: #eee;width: 100%;height: 100%;position: relative;top: 0;left: 0;right: 0;bottom: 0;overflow: hidden;}

.body-aside {width: 100%;height: 100%;color: #fff;z-index: 12;position: absolute;}
.body-aside .lock {width: 50px;height: 50px;line-height: 50px;position: absolute;top: 0;right: 0;text-align: center;}
.body-aside .lock:before { content: '\1F512'; line-height: 50px; text-align: center; color: white; }
.body-aside > * {width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 0;}

.body-aside .splash { transition: 1s opacity, 1s transform; }
.body:not([data-path="/"]) .body-aside .splash { opacity: 0; transform: translate3d(0,-100%,0); }
.body-aside .splash .clock { padding: 20px; position: absolute; bottom: 0; left: 0; }
.body-aside .splash .clock .time { font-size: 48px; }
.body-aside .splash .clock .date { font-size: 24px; }

.body[data-page="/my/"] .body-aside .signin {opacity: 1;display: flex;display: -webkit-flex;justify-content: center;align-items: center;z-index: 1;}
.body-aside .signin {opacity: 0;transition: 1s opacity;display: flex;display: -webkit-flex;justify-content: center;align-items: center;/* display: none; */}
.body-aside .signin .my-page {display: block;width: 300px;min-height: auto;border-radius: 20px;}
.body-aside .signin .my-page form {width: 100%;margin-bottom: 36px;}
.body-aside .signin .my-page form .input {position: relative;width: 100%;height: 36px;background: transparent;border: 1px solid #fff;border-radius:5px;margin-bottom: 10px;}
.body-aside .signin .my-page form .input:last-child { margin-bottom: 0; }
.body-aside .signin .my-page form input::placeholder { color: #fff; opacity: 0.5 }
.body-aside .signin .my-page form .input input[type="email"] {padding: 0 10px;width: calc(100% - 0px);color: #fff;}
.body-aside .signin .my-page form .input input[type="password"] {padding: 0 0 0 10px;width: calc(100% - 36px);color: #fff;}
.body-aside .signin .my-page form div > * {display:block;position: absolute;height: 36px;}
.body-aside .signin .my-page form div [type="submit"] {right: 0;width: 36px;background-image: url(/svg/key.svg); background-size: 20px; background-position: center; background-repeat: no-repeat; filter: invert(1);}
.body-aside .signin .connect {border: 1px solid #fff;height: 36px;line-height: 36px;margin: 0 auto 10px;border-radius: 5px;text-align: center;position: relative;font-size: 13px;}
.body-aside .signin .connect:before,
.body-aside .signin .signup:before {content: '';width: 20px;height: 20px;display: inline-block;vertical-align: top;margin: 8px;background-size: contain;position: absolute;left: 0;}
.body-aside .signin .connect:after {width: calc(100% - 36px);height: 36px;display: inline-block;vertical-align: top;}
.body-aside .signin .connect.google:before { background-image: url(/svg/google.svg); filter: invert(1); }
.body-aside .signin .connect.guests:before { background-image: url(/svg/fedora.svg); filter: invert(1); }
.body-aside .signin .signup {position:relative;height: 36px;line-height: 36px;margin: 36px 0 auto;border-radius: 5px;text-align: center;color: #333;font-size: 13px;background: white;}
.body-aside .signin .signup:before {background-image: url(/svg/email.svg);/* filter: invert(1); */opacity: calc(2/3);}

.body[data-page="/my/account/"] .body-aside .signup {opacity: 1;display: flex;display: -webkit-flex;justify-content: center;align-items: center;z-index: 1;}

.desktop {position:absolute;width: 100%;height: 100%;color: #fff;top: 0;left: 0;right: 0;bottom: 0;z-index: 0;z-index: 0;overflow-y: hidden;opacity: 0;transition: 1s opacity;}
.body:not([data-page="/"]):not([data-root="my"]) .desktop {z-index: 123;opacity: 1;}
.desktop .apps {display: flex;flex-direction: column;flex-wrap: wrap;align-content: flex-start;justify-content: unset;height: calc(100% - 60px);position: relative;top: 0;left: 0;right: 0;bottom: 0;padding: 10px;overflow-y: hidden;}
.desktop .apps .ico {width: 60px;margin: 0 20px 20px 0;font-size: 13px;text-align: center;}
.desktop .apps .ico:last-child { margin-right: 10px; }
.desktop .apps .ico a {padding-top: 100%;width: 100%;height: 0;margin-bottom: 5px;border-radius: 10px;display: block;background-repeat:no-repeat;background-position: center;position: relative;}
.desktop .apps .ico a:after { background-repeat: no-repeat; background-position: center; }
.desktop .apps .ico a:after, .desktop .apps .ico a:before {content: '';position: absolute;top: 0;left: 0;right: 0;width: 100%;height: 100%;} 
.desktop .apps .ico[data-app="account"] a:after {background-image: url(/apps/account/svg/icon.svg);background-size: 50%;filter: invert(0);opacity:calc(2/3);z-index: 1;}
.desktop .apps .ico[data-app="account"] a:before {background: linear-gradient(to top, #f5f5f5, #bbb);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="arcade"] a:after {background-image: url(/apps/arcade/svg/icon.svg);background-size: 50%;filter: invert(1);z-index: 1;}
.desktop .apps .ico[data-app="arcade"] a:before {background: linear-gradient(to top, #f12711, #f5af19);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="build"] a:after {background-image: url(/apps/build/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;opacity:1l}
.desktop .apps .ico[data-app="build"] a:before {background: linear-gradient(to top, #251918, #2f2b29);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="creator"] a:after {background-image: url(/apps/creator/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.desktop .apps .ico[data-app="creator"] a:before {background: linear-gradient(to top, #cccccc, #ffffff);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="calculator"] a:after {background-image: url(/apps/calculator/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.desktop .apps .ico[data-app="calculator"] a:before {background: linear-gradient(to top, #2196F3, #00BCD4);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="camera"] a:after {background-image: url(/apps/camera/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.desktop .apps .ico[data-app="camera"] a:before {background: linear-gradient(to top, #565656, #807b7b);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="draw"] a:after {background-image: url(/apps/draw/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.desktop .apps .ico[data-app="draw"] a:before {background: linear-gradient(to top, #bbbbbb, #f5f5f5);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="library"] a:after {background-image: url(/apps/library/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.desktop .apps .ico[data-app="library"] a:before {background: linear-gradient(to top, #4a352d, #795548);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="market"] a:after {background-image: url(/apps/market/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.desktop .apps .ico[data-app="market"] a:before {background: linear-gradient(to top, #4b7488, #deba77);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="media"] a:after {background-image: url(/apps/media/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.desktop .apps .ico[data-app="media"] a:before {background: linear-gradient(to top, #9C27B0, #673AB7);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="notes"] a:after {background-image: url(/apps/notes/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.desktop .apps .ico[data-app="notes"] a:before {background: linear-gradient(to top, #CDDC39, #FFEB3B);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="office"] a:after {background-image: url(/apps/office/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.desktop .apps .ico[data-app="office"] a:before {background: linear-gradient(to top, #880a11, #b52718);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="pages"] a:after {background-image: url(/apps/pages/svg/icon.svg);background-size: 50%;filter: invert(1);z-index: 1;}
.desktop .apps .ico[data-app="pages"] a:before {background: linear-gradient(to top, #607D8B, #9E9E9E);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="talk"] a:after {background-image: url(/apps/talk/svg/icon.svg);background-size: 50%;z-index: 1;}
.desktop .apps .ico[data-app="talk"] a:before {background: linear-gradient(to top, #4CAF50, #26f519);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="jukebox"] a:after {background-image: url(/apps/jukebox/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.desktop .apps .ico[data-app="jukebox"] a:before {background: linear-gradient(to top, #FF9800, #CDDC39);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="gallery"] a:after {background-image: url(/apps/gallery/svg/icon.svg);background-size: 50%;z-index: 1;}
.desktop .apps .ico[data-app="gallery"] a:before {background: linear-gradient(to top, #8ddab2, #ccf3ed);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="recorder"] a:after {background-image: url(/apps/recorder/svg/icon.svg);background-size: 50%;filter: invert(1);z-index: 1;}
.desktop .apps .ico[data-app="recorder"] a:before {background: linear-gradient(to top, #3F51B5, #26a3b9);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="weather"] a:after {background-image: url(/apps/weather/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.desktop .apps .ico[data-app="weather"] a:before {background: linear-gradient(to top, #fabe02, #26a3b9);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.desktop .apps .ico[data-app="words"] a:after {background-image: url(/apps/words/svg/icon.svg);background-size: 50%;z-index: 1;filter: invert(1);}
.desktop .apps .ico[data-app="words"] a:before {background: linear-gradient(to top, #727dbb, #50c1de);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}


.desktop .taskbar {display: flex;flex-direction: row;width: 100%;height: 50px;position: absolute;left: 0;right: 0;bottom: 0;justify-content: space-between;}
.desktop .taskbar .start-menu {width: 50px;height: 50px;filter: invert(1);background-image: url(/svg/search.svg);background-size: 20px;background-position: center;background-repeat: no-repeat;}
.desktop .taskbar .start-menu > * { display: none; }
.desktop .taskbar .start-menu + section {width: 50px;height: 50px;filter: invert(1);background-image: url(/svg/user.svg);background-size: 24px;background-position: center;background-repeat: no-repeat;}


/**/
.gradient-rgb {background: linear-gradient(-45deg, rgba(35,166,213,1) 25%, rgba(50,205,50,1) 50%, rgba(255,59,48,1) 75%);animation: gradient 15s infinite ease;background-size: 400% 400%;}
@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
/**/

form { margin: 0; }
input {appearance: none;padding: 0;border: 0;background: transparent;}
input:focus { -webkit-appearance: none; border: 0; outline: 0; }
[data-before]:before { content: attr(data-before); }
[data-after]:after { content: attr(data-after); }
