body { margin: 0; font-family: Arial; background: #bbb; }

.nav-header { width: 100%; height: 30px; white-space: nowrap; background-color: #bbb; border-bottom: 1px solid #777 }
.nav-header > div {display: inline-block;height: 30px;line-height: 30px;padding: 0 5px;font-size: 14px;color: #333;}

.body-header { width: 100%; height: 30px; border-top: 1px solid #ddd; }
.body-header > section {white-space: nowrap;width: calc(100% - 2px);height: 100%;display: flex;margin: auto;}
.body-header > section > div {display: inline-block;vertical-align: top;}
.body-header .formatting > .font-family {width: 180px;margin: 3px 0px 3px 0;}
.body-header .formatting > .font-size {width: 50px;margin: 3px 3px 3px 0;}
.body-header .emphasis {margin: 3px 3px 3px 0;white-space: nowrap;}
.body-header .emphasis > div {width: 24px;height: 24px;display: inline-block;}
.body-header .emphasis .bold {background-image: url(/cdn/svg/bold.svg);background-size: 50%;background-repeat: no-repeat;background-position: center;}
.body-header .emphasis .italic {background-image: url(/cdn/svg/italic.svg);background-size: 50%;background-repeat: no-repeat;background-position: center;}
.body-header .emphasis .underline {background-image: url(/cdn/svg/underline.svg);background-size: 50%;background-repeat: no-repeat;background-position: center;}
.body-header .emphasis .color {background-image: url(/cdn/svg/color.svg);background-size: 50%;background-repeat: no-repeat;background-position: center;}

.wysiwyg {width: calc(100% - 4px);height: calc(100% - 62px);background: white;margin: auto;}
.wysiwyg .editor {height: calc(100% - 40px);padding: 20px;}
.wysiwyg .editor:focus { outline: none; }