.section-build-app .color-picker {max-width: 480px;width: calc(100% - 40px);padding-top: calc(100% - 40px);height: 0;margin: 20px auto;color: black;text-align: left;z-index: 0;white-space: nowrap;position: relative;}
.section-build-app .color-picker .twod {width: calc((100% - 70px)/1);padding-top: calc((100% - 70px)/1);border-radius: 5px;position: relative;background: #bbb;display: inline-block;vertical-align: top;height: 0;}
.section-build-app .color-picker .twod > .pointer {width: 12px;height: 12px;z-index: 123;border: 3px solid black;border-radius: 50%;position: absolute;transform: translate3d(-50%,-50%,0);}
.section-build-app .color-picker .twod > .pointer:before {content: '';width: 6px;height: 6px;border: 3px solid white;border-radius: 50%;display: block;}
.section-build-app .color-picker .oned > .pointer {width: 100%;height: 4px;z-index: 123;border: 3px solid black;border-radius: 3px;position: absolute;transform: translate3d(-3px,-50%,0);}
.section-build-app .color-picker .twod .bg1, .section-build-app .color-picker .twod .bg2 {width: 100%;height: 100%;border-radius: 5px;position: absolute;top: 0;left: 0;}
.section-build-app .color-picker .twod .bg1 {
    z-index: 0;
    background: -moz-linear-gradient(left, white 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, white 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, white 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255,255,255,0)));
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
}
.section-build-app .color-picker .twod .bg2 {
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, black 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, black));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, black 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, black 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(black));
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 100%);
}
.section-build-app .color-picker .oned {width: 50px;height: 100%;border-radius: 5px;display: inline-block;background: #bbb;position: absolute;top: 0;right: -70px;}
.section-build-app .color-picker .oned .bg {width: 100%;height: 100%;border-radius: 5px;}
.section-build-app .color-picker .oned .bg {
    background:-moz-linear-gradient(top, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, red), color-stop(17%, #ff0), color-stop(33%, lime), color-stop(50%, cyan), color-stop(66%, blue), color-stop(83%, #f0f), color-stop(100%, red));
    background:-webkit-linear-gradient(top, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
    background:-o-linear-gradient(top, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
    background:-webkit-gradient(linear, left top, left bottom, from(red), color-stop(17%, #ff0), color-stop(33%, lime), color-stop(50%, cyan), color-stop(66%, blue), color-stop(83%, #f0f), to(red));
    background:linear-gradient(to bottom, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
}