.body {font-family: Arial;overscroll-behavior-y: contain;-webkit-overscroll-behavior-y: contain;margin: 0;color: #777;color: #eee;width: 100%;height: 100%;position: relative;top: 0;left: 0;right: 0;bottom: 0;overflow: hidden;}

.body-aside {width: 100%;height: 100%;color: #fff;z-index: 12;position: absolute;/* background-image: url(/cdn/gif/bg/code.gif) !important; *//* background-size: cover !important; *//* animation: unset !important; */}
.body-aside .lock {width: 50px;height: 50px;line-height: 50px;position: absolute;top: 0;right: 0;text-align: center;}
.body-aside .lock:before { content: '\1F512'; line-height: 50px; text-align: center; color: white; }
.body-aside > * {width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 0;}

.body-aside .splash { transition: 1s opacity, 1s transform; }
.body:not([data-path="/"]) .body-aside .splash { opacity: 0; transform: translate3d(0,-100%,0); }
.body-aside .splash .clock { padding: 20px; position: absolute; bottom: 0; left: 0; }
.body-aside .splash .clock .time { font-size: 48px; }
.body-aside .splash .clock .date { font-size: 24px; }

.body[data-page="/my/"] .body-aside .signin {opacity: 1;display: flex;display: -webkit-flex;justify-content: center;align-items: center;z-index: 1;}
.body-aside .signin {opacity: 0;transition: 1s opacity;display: flex;display: -webkit-flex;justify-content: center;align-items: center;/* display: none; */}
.body-aside .signin .my-page {display: block;width: 300px;min-height: auto;border-radius: 20px;}
.body-aside .signin .my-page form {width: 100%;margin-bottom: 36px;}
.body-aside .signin .my-page form .input {position: relative;width: 100%;height: 36px;background: transparent;border: 1px solid #fff;border-radius:5px;margin-bottom: 10px;}
.body-aside .signin .my-page form .input:last-child { margin-bottom: 0; }
.body-aside .signin .my-page form input::placeholder { color: #fff; opacity: 0.5 }
.body-aside .signin .my-page form .input input[type="email"] {padding: 0 10px;width: calc(100% - 0px);color: #fff;}
.body-aside .signin .my-page form .input input[type="password"] {padding: 0 0 0 10px;width: calc(100% - 36px);color: #fff;}
.body-aside .signin .my-page form div > * {display:block;position: absolute;height: 36px;}
.body-aside .signin .my-page form div [type="submit"] {right: 0;width: 36px;background-image: url(/cdn/svg/key.svg); background-size: 20px; background-position: center; background-repeat: no-repeat; filter: invert(1);}
.body-aside .signin .connect {border: 1px solid #fff;height: 36px;line-height: 36px;margin: 0 auto 10px;border-radius: 5px;text-align: center;position: relative;font-size: 13px;}
.body-aside .signin .connect:before,
.body-aside .signin .signup:before {content: '';width: 20px;height: 20px;display: inline-block;vertical-align: top;margin: 8px;background-size: contain;position: absolute;left: 0;}
.body-aside .signin .connect:after {width: calc(100% - 36px);height: 36px;display: inline-block;vertical-align: top;}
.body-aside .signin .connect.google:before { background-image: url(/cdn/svg/google.svg); filter: invert(1); }
.body-aside .signin .connect.guests:before { background-image: url(/cdn/svg/fedora.svg); filter: invert(1); }
.body-aside .signin .signup {position:relative;height: 36px;line-height: 36px;margin: 36px 0 auto;border-radius: 5px;text-align: center;color: #333;font-size: 13px;background: white;}
.body-aside .signin .signup:before {background-image: url(/cdn/svg/email.svg);/* filter: invert(1); */opacity: calc(2/3);}

.body[data-page="/my/account/"] .body-aside .signup {opacity: 1;display: flex;display: -webkit-flex;justify-content: center;align-items: center;z-index: 1;}

.desktop {position:absolute;width: 100%;height: 100%;color: #fff;top: 0;left: 0;right: 0;bottom: 0;z-index: 0;z-index: 0;overflow-y: hidden;opacity: 0;transition: 1s opacity;}
.body:not([data-page="/"]):not([data-root="my"]) .desktop {z-index: 123;opacity: 1;}
.desktop > .apps {display: inline-flex;flex-direction: column;flex-wrap: wrap;align-content: flex-start;justify-content: unset;width: calc(100% - 20px);height: calc(100% - 70px);position: relative;top: 0;left: 0;right: 0;bottom: 0;padding: 10px;overflow-y: hidden;}
.apps .ico {width: 60px;margin: 0 20px 20px 0;font-size: 13px;text-align: center;}
.apps .ico:last-child { margin-right: 10px; }
.apps .ico a {padding-top: 100%;width: 100%;height: 0;margin-bottom: 5px;border-radius: 10px;display: block;background-repeat:no-repeat;background-position: center;position: relative;}
.apps .ico a:after { background-repeat: no-repeat; background-position: center; }
.apps .ico a:after, .apps .ico a:before {content: '';position: absolute;top: 0;left: 0;right: 0;width: 100%;height: 100%;} 
.apps .ico[data-app="account"] a:after {background-image: url(/apps/account/svg/icon.svg);background-size: 50%;filter: invert(0);opacity:calc(2/3);z-index: 1;}
.apps .ico[data-app="account"] a:before {background: linear-gradient(to top, #f5f5f5, #bbb);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="arcade"] a:after {background-image: url(/apps/arcade/svg/icon.svg);background-size: 50%;filter: invert(1);z-index: 1;}
.apps .ico[data-app="arcade"] a:before {background: linear-gradient(to top, #f12711, #f5af19);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="build"] a:after {background-image: url(/apps/build/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;opacity:1l}
.apps .ico[data-app="build"] a:before {background: linear-gradient(to top, #251918, #2f2b29);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="creator"] a:after {background-image: url(/apps/creator/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.apps .ico[data-app="creator"] a:before {background: linear-gradient(to top, #cccccc, #ffffff);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="calculator"] a:after {background-image: url(/apps/calculator/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.apps .ico[data-app="calculator"] a:before {background: linear-gradient(to top, #2196F3, #00BCD4);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="camera"] a:after {background-image: url(/apps/camera/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.apps .ico[data-app="camera"] a:before {background: linear-gradient(to top, #565656, #807b7b);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="draw"] a:after {background-image: url(/apps/draw/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.apps .ico[data-app="draw"] a:before {background: linear-gradient(to top, #bbbbbb, #f5f5f5);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="library"] a:after {background-image: url(/apps/library/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.apps .ico[data-app="library"] a:before {background: linear-gradient(to top, #4a352d, #795548);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="market"] a:after {background-image: url(/apps/market/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.apps .ico[data-app="market"] a:before {background: linear-gradient(to top, #4b7488, #deba77);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="media"] a:after {background-image: url(/apps/media/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.apps .ico[data-app="media"] a:before {background: linear-gradient(to top, #9C27B0, #673AB7);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="notes"] a:after {background-image: url(/apps/notes/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.apps .ico[data-app="notes"] a:before {background: linear-gradient(to top, #CDDC39, #FFEB3B);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="office"] a:after {background-image: url(/apps/office/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.apps .ico[data-app="office"] a:before {background: linear-gradient(to top, #880a11, #b52718);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="pages"] a:after {background-image: url(/apps/pages/svg/icon.svg);background-size: 50%;filter: invert(1);z-index: 1;}
.apps .ico[data-app="pages"] a:before {background: linear-gradient(to top, #607D8B, #9E9E9E);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="talk"] a:after {background-image: url(/apps/talk/svg/icon.svg);background-size: 50%;z-index: 1;}
.apps .ico[data-app="talk"] a:before {background: linear-gradient(to top, #4CAF50, #26f519);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="jukebox"] a:after {background-image: url(/apps/jukebox/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.apps .ico[data-app="jukebox"] a:before {background: linear-gradient(to top, #FF9800, #CDDC39);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="gallery"] a:after {background-image: url(/apps/gallery/svg/icon.svg);background-size: 50%;z-index: 1;}
.apps .ico[data-app="gallery"] a:before {background: linear-gradient(to top, #8ddab2, #ccf3ed);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="recorder"] a:after {background-image: url(/apps/recorder/svg/icon.svg);background-size: 50%;filter: invert(1);z-index: 1;}
.apps .ico[data-app="recorder"] a:before {background: linear-gradient(to top, #3F51B5, #26a3b9);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="weather"] a:after {background-image: url(/apps/weather/svg/icon.svg);background-size: 50%;filter: invert(0);z-index: 1;}
.apps .ico[data-app="weather"] a:before {background: linear-gradient(to top, #fabe02, #26a3b9);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}
.apps .ico[data-app="words"] a:after {background-image: url(/apps/words/svg/icon.svg);background-size: 50%;z-index: 1;filter: invert(1);}
.apps .ico[data-app="words"] a:before {background: linear-gradient(to top, #727dbb, #50c1de);border-radius:15%;display: block;width: 100%;height: 100%;z-index: 0;}

.start .apps .app > a {width: 30px;height: 30px;display: inline-block;background-color: #bbb;vertical-align: middle;border-radius: 15%;margin: 10px 10px 10px 10px;}

.desktop > .apps .app {max-width: calc(100% - 40px);max-height: calc(100% - 40px);position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;background: rgba(0,0,0,0.5);backdrop-filter: blur(10px);backdrop-filter: -webkit-blur(10px);}
@media screen and (max-width: 480px) { 
    .desktop > .apps .app {max-width: calc(100% - 4px);max-height: calc(100% - 4px);}
}

.desktop > .apps .app header { display: flex; display: -webkit-flex; width: 100%; height: 100%; }
.desktop > .apps .app header > :first-child { height: 36px; line-height: 36px; padding: 0 10px; }
.desktop > .apps .app header .actions {height: 36px;width: 108px;margin-left: auto;}
.desktop > .apps .app header .actions > * {width: 36px;height: 36px;display: inline-block;vertical-align: top;position: relative;}
.desktop > .apps .app header .actions > .mini:before {content:'';display: block;width: 14px;height: 2px;margin: auto;background: #bbb;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.desktop > .apps .app header .actions > .maxi:before {content:'';display: block;width: 10px;height: 10px;margin: auto;border:2px solid #bbb;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.desktop > .apps .app header .actions > .exit:before {content:'';display: block;width: 18px;height: 2px;margin: auto;background: #bbb;position: absolute;top: 0;left: 0;right: 0;bottom: 0;transform: rotate(45deg);}
.desktop > .apps .app header .actions > .exit:after {content:'';display: block;width: 18px;height: 2px;margin: auto;background: #bbb;position: absolute;top: 0;left: 0;right: 0;bottom: 0;transform: rotate(130deg);}
.desktop > .apps .app iframe {width: calc(100% - 4px);height: calc(100% - 38px);border: 0;position: absolute;top: 36px;left: 0;right: 0;margin: auto;background: #1a1a1a;}

.desktop .start {width: 270px;height: 50px;max-width: calc(100% - 50px);position: fixed;left: 0;bottom: 0;z-index: 12;transition: 0.3s height;}
.desktop .start.menu {height: 375px;height: 100%;max-height: 568px;/* background-color: rgba(0,0,0,0.5); */backdrop-filter: -webkit-blur(10px);/* backdrop-filter: blur(10px); */}
.desktop.blur:before {content: '';display: block;position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,0.5);backdrop-filter: blur(10px);backdrop-filter: -webkit-blur(10px);top: 0;left: 0;z-index: 12;}
.desktop.blur > .apps { filter: blur(10px); }
.desktop .start .menu {width: 100%;height: calc(100% - 50px);overflow: hidden;}
.desktop .start.menu .menu {}
.desktop .start .menu .access {width: 50px;height: 100%;display: -webkit-inline-flex;flex-direction: column;vertical-align: top;}
.desktop .start .menu .access > * {width: 50px;height: 50px;background-size: 30px;background-repeat: no-repeat;background-position: center;}
.desktop .start .menu .access .fullscreen {/* display: -webkit-flex; *//* justify-content: center; *//* align-items: center; */margin-top: auto;}
.desktop .start .menu .access .fullscreen > div {width: 30px;height: 30px;margin: 10px;}
.desktop .start .menu .access .fullscreen div > div {width: 10px;height: 10px;display: inline-block;/* margin: 2px; */}
.desktop .start .menu .access .fullscreen div > div:nth-child(1) {border-left: 2px solid white;border-top: 2px solid white;margin-right: 3px;margin-bottom: 3px;}
.desktop .start .menu .access .fullscreen div > div:nth-child(2) {border-top: 2px solid white;border-right: 2px solid white;margin-left: 3px;margin-bottom: 3px;}
.desktop .start .menu .access .fullscreen div > div:nth-child(3) {border-left: 2px solid white;border-bottom: 2px solid white;margin-top: 3px;margin-right: 3px;}
.desktop .start .menu .access .fullscreen div > div:nth-child(4) {border-right: 2px solid white;border-bottom: 2px solid white;margin-top: 3px;margin-left: 3px;}
.desktop .start .menu .access > .me {background-image: url(/cdn/svg/user.svg);filter: invert(1);} 
.desktop .start .menu .access > .explorer {background-image: url(/cdn/svg/explorer.svg);filter: invert(1);} 
.desktop .start .menu .access > .settings {background-image: url(/cdn/svg/settings.svg);filter: invert(1);} 
.desktop .start .search {width: 100%;height: 50px;position: absolute;bottom: 0;}
.desktop .start .search > :first-child {content: '';display: inline-block;vertical-align: top;width: 50px;height: 50px;filter: invert(1);background-image: url(/cdn/svg/search.svg);background-size: 20px;background-position: center;background-repeat: no-repeat;}
.desktop .start.menu .search > :first-child {background-image: url(/cdn/svg/x.svg);}
.desktop .start .search [type="text"] {width: calc(100% - 50px);height: 50px;display: inline-block;vertical-align: top;font-size: 18px;color: white;text-indent: 10px;}
.desktop .start .search [type="text"]::placeholder { color: white; }
.desktop .start .search [type="submit"] { display: none; }
.desktop .power {width: 50px;height: 50px;right: 0;bottom: 0;z-index: 1;filter: invert(1);position: fixed;background-image: url(/cdn/svg/power.svg);background-size: 24px;background-position: center;background-repeat: no-repeat;}
.desktop .start .menu .apps {width: calc(100% - 50px);height: 100%;display: inline-block;vertical-align: top;overflow-x: hidden;}
@media screen and (max-width: 480px) {
    .desktop .start.menu {width: 100%;max-width: 100%;max-height: 100%;}
}

/**/
.gradient-rgb {background: linear-gradient(-45deg, rgba(35,166,213,1) 25%, rgba(50,205,50,1) 50%, rgba(255,59,48,1) 75%);animation: gradient 15s infinite ease;background-size: 400% 400%;}
@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
/**/

form { margin: 0; }
input {appearance: none;padding: 0;border: 0;background: transparent;}
input:focus { -webkit-appearance: none; border: 0; outline: 0; }
[data-before]:before { content: attr(data-before); }
[data-after]:after { content: attr(data-after); }

::-webkit-scrollbar { width: 0; height: 0; }
:hover::-webkit-scrollbar {width: 12px;}
:hover::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px;} 
:hover::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}